<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- navbar is above the view -->
<%= render 'layouts/navbar' %>
<!-- Everything that comes back from view controller we are in -->
<%= yield %>

</body>
</html>
